/* STANDART STYLE */

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat';
	background-color: #E3E3E3;
}

.wrapper{
	padding: 0 20px;
	max-width: 1170px;
	/*Позиционирование по центру*/
	margin: 0 auto;
}

/* END STANDART STYLE */




/* START HEADER */

.header_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	margin-top: 40px;
}

.header_nav {
	display: flex;
}

.header_item {
	margin-right: 55px;
}

.header_link{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	transition: all 0.3s ease-in-out;
}

.header_link:hover {
	color: #DE7184;
}

.header_item:last-child {
	margin-right: 0px;
}

.header_conection {
	display: flex;
}

.header_tel {
	margin-right: 45px;
}

.tel_link {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000;
}

.header_button_link {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding: 14px;
	background-color: #DE7184;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.header_button_link:hover {
	/* box-shadow: inset 0px 0px 0px 5px #ED8295; */
	background-color: #cc7786;
}

/* END HEADER */




/* START PROMO SECTION */

.slide_promo_container {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	
}

/* .slide_promo {
	width: clamp(1920px, 100%, 1920px) ;
	height: 82vh;
	background: url(../image/slide_promo1.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	text-align: center;
} */

.slide_promo {
	width: clamp(320px, 100%, 1920px);
	height: 82vh;
	display: none;
}

.active {
	display: block;
}


.first {
	background: url(../image/slide_promo1.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.second {
	background: url(../image/slide_promo2.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.third {
	background: url(../image/slide_promo3.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.promo_text {
	margin-top: 350px;
} 

.promo_text h1 {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #FFFFFF;
}

.promo_text h2 {
	margin-top: 30px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

.promo_button {
	margin-top: 50px;
}

.promo_button a {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	padding: 14px 20px;
	border: 2px solid #DE7184;
	border-radius: 5px;
	backdrop-filter: blur(7px);
	transition: all 0.3s ease-in-out;
}

.promo_button a:hover {
	background-color: #DE7184;
}

#btn_prev, #btn_next {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 82vh;
	width: 70px;
	background-color: gray;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}

#btn_prev:hover, #btn_next:hover {
	opacity: 0.6;
}

#btn_next {
	left:auto;
	right: 0;
}

/* .dots_container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.dot.active {
	background-color: #000000;
} */

/* END PROMO SECTION */





/* START ABOUT US SECTION */

.about_us_section {
	width: clamp(320px, 100%, 1920px);
	height: 60vh;
	background: url(../image/background_about_us.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	margin-bottom: 200px;
}

.abou_us_container {
	padding: 0 20px;
}

.about_us_title {
	padding-top: 100px;
}

.about_us_text {
	display: block;
	max-width: 850px;
	margin: 70px auto;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #000000;
}
/* END ABOUT US SECTION */